pkgbase = crun-git
	pkgdesc = A lightweight fully featured OCI runtime and C library for running containers
	pkgver = r450.1cf4ea5
	pkgrel = 1
	url = https://github.com/giuseppe/crun
	arch = x86_64
	license = LGPL3
	makedepends = git
	makedepends = make
	depends = yajl
	depends = libseccomp
	depends = libcap
	depends = libselinux
	provides = crun-git
	conflicts = crun
	conflicts = crun-git
	source = crun-git::git+https://github.com/giuseppe/crun.git
	sha256sums = SKIP

pkgname = crun-git

