pkgbase = linux-brx
	pkgdesc = Linux BRX
	pkgver = 5.6.14
	pkgrel = 1
	url = https://github.com/brenix/pkgbuilds
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = git
	makedepends = inetutils
	makedepends = kmod
	makedepends = libelf
	makedepends = xmlto
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.6.tar.sign
	source = clearlinux::git+https://github.com/clearlinux-pkgs/linux.git#tag=5.6.13-952
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v5.6.14-zen1/v5.6.14-zen1.patch.xz
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = e342b04a2aa63808ea0ef1baab28fc520bd031ef8cf93d9ee4a31d4058fcb622
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 5f4f23436bda431eadfad11d1cc3b8663b8685507947a4848b6f2c2f6706c3a7
	sha256sums = 535a8694d7bb5fa2a05a149b863c112c5680297bdb1c24d1388e1580b4e4ae90

pkgname = linux-brx
	pkgdesc = The Linux BRX kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-brx-headers
	pkgdesc = Headers and scripts for building modules for the Linux BRX kernel

