pkgbase = linux-brx
	pkgdesc = Linux
	pkgver = 5.5.6
	pkgrel = 1
	url = https://github.com/brenix/pkgbuilds
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = git
	makedepends = inetutils
	makedepends = kmod
	makedepends = libelf
	makedepends = xmlto
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.5.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.5.tar.sign
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/patch-5.5.6.xz
	source = clearlinux::git+https://github.com/clearlinux-pkgs/linux.git#tag=5.5.5-911
	source = https://git.zx2c4.com/wireguard-linux-compat/snapshot/wireguard-linux-compat-0.0.20200215.tar.xz
	source = enable_additional_cpu_optimizations-20191217.tar.gz::https://github.com/graysky2/kernel_gcc_patch/archive/20191217.tar.gz
	source = pci-enable-overrides-for-missing-acs-capabilities.patch
	source = futex-wait-multiple-5.2.1.patch::https://aur.archlinux.org/cgit/aur.git/plain/futex-wait-multiple-5.2.1.patch?h=linux-fsync
	source = 0001_bmq_v5.5-r1.patch::https://gitlab.com/alfredchen/bmq/raw/master/5.5/bmq_v5.5-r1.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = a6fbd4ee903c128367892c2393ee0d9657b6ed3ea90016d4dc6f1f6da20b2330
	sha256sums = SKIP
	sha256sums = 694bda875d41e9eafa4b71c4501c55815eb1e9cd85d43808bafcd19954cb5a38
	sha256sums = SKIP
	sha256sums = 0def6f3608ec06f6dfc454aa5281a7c38b06ff27096cb341448d20602da4e923
	sha256sums = 7a4a209de815f4bae49c7c577c0584c77257e3953ac4324d2aa425859ba657f5
	sha256sums = a45d4b7d21abb1ff323811e1aa164d84ae86a8d5c3ae3c4e3716a90380300fac
	sha256sums = b8a9225b4b5cbabac26398d11cc26566e4407d150dacb92f3411c9bb8cc23942
	sha256sums = 2382fecb1572a309d710d465ca6e66cc718d389246b80158868d1814891ff71a

pkgname = linux-brx
	pkgdesc = The Linux kernel and modules
	install = linux.install
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = WIREGUARD-MODULE

pkgname = linux-brx-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel

