pkgbase = linux-brx
	pkgdesc = Linux BRX
	pkgver = 5.6.10
	pkgrel = 1
	url = https://github.com/brenix/pkgbuilds
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = git
	makedepends = inetutils
	makedepends = kmod
	makedepends = libelf
	makedepends = xmlto
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.6.tar.sign
	source = clearlinux::git+https://github.com/clearlinux-pkgs/linux.git#tag=5.6.8-945
	source = pci-enable-overrides-for-missing-acs-capabilities.patch
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v5.6.9-zen1/v5.6.9-zen1.patch.xz
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = e342b04a2aa63808ea0ef1baab28fc520bd031ef8cf93d9ee4a31d4058fcb622
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = a45d4b7d21abb1ff323811e1aa164d84ae86a8d5c3ae3c4e3716a90380300fac
	sha256sums = 850c3df90e87e4a6acbe24ead5270eca06ac8e7d8e80231ed260870a3e243e83
	sha256sums = 312df75b3d2a458a5a29beabe09d02db2eac582192d35493aa6b5eddc047cd55

pkgname = linux-brx
	pkgdesc = The Linux BRX kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-brx-headers
	pkgdesc = Headers and scripts for building modules for the Linux BRX kernel

