pkgbase = kubeadm-bin
	pkgdesc = Kubernetes.io kubeadm binary
	pkgver = 1.12.3
	pkgrel = 1
	url = http://kubernetes.io
	arch = x86_64
	license = apache
	depends = kubelet-bin
	conflicts = kubernetes
	source_x86_64 = https://packages.cloud.google.com/apt/pool/kubeadm_1.12.3-00_amd64_1e5e9c6b1ad5de0ad9e7225a988a55fd9578f548750707825e2bd97659b626c9.deb
	sha256sums_x86_64 = 1e5e9c6b1ad5de0ad9e7225a988a55fd9578f548750707825e2bd97659b626c9

pkgname = kubeadm-bin

