pkgbase = kubeadm-bin
	pkgdesc = Kubernetes.io kubeadm binary
	pkgver = 1.12.2
	pkgrel = 1
	url = http://kubernetes.io
	arch = x86_64
	license = apache
	depends = kubelet-bin
	conflicts = kubernetes
	source_x86_64 = https://packages.cloud.google.com/apt/pool/kubeadm_1.12.2-00_amd64_777b8af5ad6ffb59d0ad4e6ea08061ae9714c3c86f11b31c945058d48ec98a44.deb
	sha256sums_x86_64 = 777b8af5ad6ffb59d0ad4e6ea08061ae9714c3c86f11b31c945058d48ec98a44

pkgname = kubeadm-bin

