pkgbase = variant-bin
	pkgver = 0.24.0
	pkgrel = 1
	url = https://github.com/mumoshu/variant2
	arch = x86_64
	license = MIT
	provides = variant
	source = variant-bin-0.24.0::https://github.com/mumoshu/variant2/releases/download/v0.24.0/variant_0.24.0_linux_amd64.tar.gz
	sha256sums = 11ce36478593b7410ef09684cd494b7484e626ff33ed65d18ee268a1295da002

pkgname = variant-bin

